.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media screen and (width <= 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (width <= 480px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
